repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or:
          - markdown
          - toml
          - yaml
          - javascript
          - css
  - repo: https://github.com/omnilib/ufmt
    rev: v2.1.0
    hooks:
      - id: ufmt
        additional_dependencies:
          - black == 23.7.0
          - usort == 1.0.7
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.284
    hooks:
      - id: ruff
        args: ["--fix"]
