site_name: Ragna
repo_url: https://github.com/Quansight/ragna
copyright: Copyright &copy; 2023 Ragna Development Team at Quansight LLC
extra:
  social:
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/ragna/

theme:
  name: material
  logo: brand-assets/logo-symbol/logo-symbol.png # TODO: Use white-version of logo
  palette:
    primary: custom
    accent: custom
  font:
    text: Roboto # TODO: Update based on brand guidelines
  features:
    - navigation.sections
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - content.code.copy
    - search
    - search.suggest
    - search.highlight

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            show_root_heading: true
            show_bases: false
  - gen-files:
      scripts:
        - scripts/docs_gen_files.py

watch:
  - scripts/docs_gen_files.py


extra_css:
  - stylesheets/extra.css

# Explicit navigation
nav:
- 'index.md'
- 'install.md'
- Tutorials:
  - 'tutorials/python-api.md'
  - 'tutorials/rest-api.md'
  - 'tutorials/web-app.md'
- How-to:
  - 'how-tos/set-configuration.md'
- Explanations:
  - 'explanations/understand-rag.md'
- Community:
  - 'community/welcome.md'
  - 'community/contribute.md'
  - 'community/brand.md'
- References:
  - 'references/python-api.md'
  - 'references/rest-api.md'
  - 'references/cli.md'
  - 'references/faq.md'
  - 'references/changelog.md'
