local_root = "/var/ragna"
authentication = "ragna.deploy.RagnaDemoAuthentication"
document = "ragna.core.LocalDocument"
source_storages = [
    "ragna.source_storages.Chroma",
    "ragna.source_storages.RagnaDemoSourceStorage",
    "ragna.source_storages.LanceDB"
]
assistants = [
    "ragna.assistants.RagnaDemoAssistant"
]

[api]
hostname = "0.0.0.0"
port = 31476
root_path = ""
url = "http://localhost:31476"
origins = ["http://localhost:31477"]
database_url = "sqlite:////var/ragna/ragna.db"

[ui]
hostname = "0.0.0.0"
port = 31477
origins = ["http://localhost:31477"]
