aiofiles
emoji
fastapi
httpx
importlib_metadata>=4.6; python_version<'3.10'
packaging
panel==1.3.8
pydantic>=2
pydantic-core
pydantic-settings>=2
PyJWT
python-multipart
redis
questionary
rich
sqlalchemy>=2
starlette
tomlkit
typer
uvicorn
chromadb>=0.4.13
httpx_sse
ijson
lancedb>=0.2
pyarrow
pymupdf>=1.23.6
python-docx
python-pptx
tiktoken
