:host(.modal_configuration_radio_button_group) {
  width: 95%;
}

:host(.modal_configuration_radio_button_group) label {
  font-weight: bold;
  width: 50%;
}

:host(.modal_configuration_radio_button_group) label:nth-child(2) {
  margin-left: 50%;
}

:host(.modal_configuration_radio_button_group) input[type="radio"] {
  accent-color: var(--accent-color);
}
