:host(.metadata-filter-key),
:host(.metadata-filter-operator) {
  max-width: 30%;
  min-width: 30%;
  height: 30px;
}

:host(.metadata-filter-error) select.bk-input {
  border: 2px red solid !important;
}
