:host(.auth_page_main_layout) {
  background-color: white;
  border-radius: 5px;
  box-shadow: lightgray 0px 0px 10px;
  padding: 0 25px 0 25px;

  width: 30%;
  min-width: 360px;
  max-width: 430px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

:host(.auth_page_main_layout) > div {
  margin-bottom: 10px;
  margin-top: 10px;
}

:host(.auth_page_main_layout) .bk-panel-models-layout-Column {
  width: 100%;
}
