/* TODO: Update based on new brand guidelines */

:root {
    --md-primary-fg-color:#CF5E43;
    --md-accent-fg-color: #CF5E43;
  }

.md-header {
    background-color: #1F2737;
}

.icon {
  color: #CF5E43;
}
