/* TODO: Update based on new brand guidelines */

:root {
  --md-primary-fg-color: #DF5538;
  --md-accent-fg-color: #3C8D89;
}

.md-header,
.md-footer {
  background-color: #1F2636;
}

.icon {
  color: #DF5538;
}
