name: lint

on:
  pull_request:
  push:
    branches:
      - release/*

jobs:
  optional-dependencies:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          optional-dependencies: "false"

      - name: Test optional dependencies
        run: |
          python scripts/update_optional_dependencies.py
          git diff --exit-code

  format:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          optional-dependencies: "false"

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit

      - name: Setup lint utilities
        run: pre-commit install-hooks

      - name: Run format checks
        run: pre-commit run --all-files --show-diff-on-failure --color=always

  types:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Run type checks
        run: mypy
